*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box-title{
  width: 100%;
  height: 100px;
  background-color: aquamarine;
}

.title {
  /* căn giữa chữ */
  text-align: center;
  line-height: 100px;
}

.parent-box{
  height: 500px;
  border: 2px solid #333;
  margin: 30px;
  position: relative;
}

.center-box{
  width: 200px;
  height: 200px;
  background-color: red;
  /* căn giữa khối */
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  /* trừ đi 50% chiều ngang và dọc của khối .center-box */
  transform: translate(-50%, -50%);
}



.parent {
  border: 2px solid #333;
  height: 400px;
  margin: 40px;
  /* mặc định: đưa các phần tử lên 1 hàng */
  display: flex;
  /* mặc định flex-direction = row */
  /* flex-direction: row; */
  /* justify-content: căn theo chiều ngang */
  /* 
    start: căn trái
    center: căn giữa
    end: căn phải
    space-between: căn tách các phần tử tự động (2 phần tử ngoài cùng -> sát);
    space-around: căn tách các phần tử tự động (độ rộng 2 bên lề = 1/2 khoảng các phần tử)
    space-evenly: căn tách các phần tử tự động (khoảng cách lề và các phần tử bằng nhau)
  */
  justify-content: center;
  /* align-items: căn theo chiều dọc */
  align-items: center;
  gap: 30px;
}

.box {
  width: 200px;
  height: 200px;
}

.box1 {
  background-color: red;
}

.box2 {
  background-color: blue;
  /* align-self: start; */
}

.box3 {
  background-color: green;
}

.box4 {
  background-color: yellow;
  /* align-self: end; */
}

.parent2 {
  height: 1200px;
  border: 2px solid #333;
  margin: 30px;
  display: flex;
  flex-direction: column;
  /* 
    Nếu flex-direction: column:
    - justify-content: căn theo chiều dọc
    - align-items: căn theo chiều ngang
  */
  justify-content: center;
  align-items: center;
}