body {
  margin: 0;
  padding: 0;
}

.box {
  width: 200px;
  height: 200px;
  text-align: center;
  line-height: 200px;

  /* padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 40px;
  padding-left: 50px; */

  /* padding: 20px 30px 40px 50px; */

  /* padding: 20px 30px 40px; */

  /* padding: 20px 30px; */
  
  /* padding: 20px; */

}

.box1 {
  background-color: red;
  padding: 20px;
  box-sizing: border-box;
  display: block;
}

.box2 {
  background-color: green;
  margin: 60px 50px;
  display: inline;
}

.box3 {
  background-color: yellow;
  margin: 0 auto;
  border: 3px black solid;
  border-radius: 50%;
  display: inline-block;
}

.profile {
  width: 350px;
  height: 500px;
  border: 5px solid rgb(46, 158, 249);
  background-color: rgb(161, 213, 255);
  margin: 100px auto;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
}

.avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
  border: 1px solid black;
}

.txt-name {
  text-align: center;
  font-size: 40px;
  color: brown;
  margin: 20px 0;
}

.txt-class {
  text-decoration: underline;
  font-size: 25px;
  margin: 0;
  text-align: center;
}

.txt-school {
  color: #000;
  font-size: 20px;
  text-align: center;
  margin: 10;
}