body {
  margin: 0;
  padding: 0;
}

.box {
  width: 200px;
  height: 200px;
  text-align: center;
  line-height: 200px;

  /* padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 40px;
  padding-left: 50px; */

  /* padding: 20px 30px 40px 50px; */

  /* padding: 20px 30px 40px; */

  /* padding: 20px 30px; */
  
  /* padding: 20px; */

}

.box1 {
  background-color: red;
  margin: 0;
}

.box2 {
  background-color: green;
  margin: 60px 50px;
}

.box3 {
  background-color: yellow;
  margin: 0 auto;
  border: 3px black solid;
  border-radius: 50%;
}