.box {
  background-color: aqua;
  width: 200px;
  height: 200px;
  text-align: center;
  line-height: 200px;

  /* padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 40px;
  padding-left: 50px; */

  /* padding: 20px 30px 40px 50px; */

  /* padding: 20px 30px 40px; */

  /* padding: 20px 30px; */
  
  padding: 20px;

}