*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.content-1{
  background-color: #b6ffff;
  border-radius: 10px;
  padding: 20px;
}

.p-title{
  margin: 10px 0;
  color: #333;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #20a1f6;
  border-radius: 10px;
  background-color: #20a1f6;
  color: #fff;
  font-weight: bold;
}

.btn:hover {
  background-color: #008fee;
}

.box-content{
  width: 250px;
  height: 80px;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px
}

.box-img{
  width: 60px;
  height: 60px;
}

h3{
  font-size: 15px;
}

p {
  font-size: 12px;
}

.box-parent-content{
  display: flex;
  justify-content: space-evenly;
}