*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.static-box {
  /* mặc định các phần tử đều có position: static */
  position: static;
  width: 100px;
  height: 100px;
  background-color: #00f6f6;
  /* top left right bottom: Không thể nhận nếu position: static */
  top: 100px;
  left: 100px;
}

.relative-box{
  width: 100px;
  height: 100px;
  background-color: green;
  /* position: relative: nhận vị trị tương đối so với giá trị ban đầu */
  position: relative;
  top: 0px;
  left: 0px;
  /* right: 10px;
  bottom: 100px; */
}

.parent-box {
  width: 500px;
  height: 500px;
  border: 2px solid #333;
  /* box cha chứa box con: position: relative  */
  position: relative;
}

.child-box {
  width: 100px;
  height: 100px;
  background-color: #ff2f2f;
  position: absolute;
  /* top: 200px;
  left: 200px; */
  bottom: 10px;
  right: 10px;
}